/* CSS Document */
html,body {
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	font-size: 13px;
	text-align: center;
	list-style: none;
	font-family: '微软雅黑';
	color:#7A7A7A;
}

table{  
    border-collapse:collapse;
    border-spacing:0;
    margin:0;
    padding:0;
    border:none;
}

td {
	border: 1px solid #ccc;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.position_relative {
	position: relative;
}

.position_absolute {
	position: absolute;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

input {
	padding: 3px 7px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	color: ghostwhite;
}

input:hover {
	color: white;
}

.input_add {
	background-color: #3C8DBC;
}

.input_add:hover {
	background-color: #4395C4;
}
.input_edit {
	background-color:#04D4C0;
}
.input_edit:hover {
	background-color: #13D9C6;
}
.input_del {
	background-color: coral;
}
.input_del:hover {
	background-color: red;
}
