/* CSS Document */

/*左侧菜单*/
#left_menu {
	width: 230px;
	height: 100%;
	float: left;
	background: whitesmoke url(../images/menu/bg.png) repeat-y fixed;
	/*background: linear-gradient(to bottom, #CA1E0F, #8F1109);*/
}

#left_menu #left_menu_top {
	width: 100%;
	height: 100px;
	background-color: #3C8DBC;
}

#left_menu #left_menu_content #menu {
	position: relative;
}

#left_menu #left_menu_content #menu ul {
	display: none;
	position: absolute;
	top: 0;
	left: 90px;
	font-size: 15px;
}

#left_menu #left_menu_content #menu li {
	text-align: left;
	cursor: pointer;
}

#left_menu #left_menu_content #menu ul li {
	width: 120px;
	padding: 10px;
	font-size: 15px;
	color: #FCFCCC;
	border-bottom: 1px solid #222D32;
	background-color: #04D4C0;
}

#left_menu #left_menu_content #menu ul li:last-child {
	border-bottom-left-radius: 5px;
}

#left_menu #left_menu_content #menu ul li:hover {
	background-color: coral;
}

#left_menu #left_menu_content #menu div {
	width: 60px;
	padding: 10px 15px;
	text-align: left;
	font-size: 15px;
	color: #FCFCCC;
	border-bottom: 1px solid #222D32;
	background: linear-gradient(to right, #044E43, #038074);
	/*background: linear-gradient(to right, #00644C, #00A65D);*/
}

#left_menu #left_menu_content #menu div:hover {
	background-color:#056254;
	background: linear-gradient(to right, #056254, #038B7E);
}

#left_menu #left_menu_content #menu div:hover {
	background-color: yellowgreen;
}

/*右侧主体内容*/
#right_cont {
	height: 100%;
	float: left;
	color: #CA1E0F;
	background-color: ghostwhite;
}

/*头部广告区域*/
#right_cont #banner {
	width: 100%;
	height: 100px;
	background-color: #0072BC;
	background: linear-gradient(to bottom right, #3C8DBC, #367FA9);
}

#right_cont #banner #logo_min {
	width: 100px;
	height: 100px;
	position: absolute;
}

#right_cont #banner #top_menu {
	position: absolute;
	top: 69px
}

#right_cont #banner #top_menu > ul > li {
	width: 80px;
	padding: 7px 10px;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: #FCFCCC;
	background-color: #038074;
	background: linear-gradient(to bottom, #044E43, #038074);
	float: left;
	border-left: 1px solid #367FA9;
	cursor: pointer;
}

#right_cont #banner #top_menu > ul > li > div {
	color: #FCFCCC;
}

#right_cont #banner #top_menu > ul > li:hover {
	background-color:#056254;
	background: linear-gradient(to bottom, #056254, #038B7E);
}

#right_cont #banner #top_menu > ul > li:first-child {
	border-top-left-radius: 5px;
}

#right_cont #banner #top_menu > ul > li:last-child {
	border-right: 1px solid #367FA9;
	border-top-right-radius: 5px;
}

#right_cont #banner #top_menu > ul > li ul {
	display: none;
	position: absolute;
	top: 31px;
	left: -1px;
}

#right_cont #banner #top_menu > ul > li ul li {
	width: 82px;
	padding: 5px 10px;
	border-top: 1px solid #D2FFF8;
	background-color: #038B7E;
	color: #FCFCCC;
}

#right_cont #banner #top_menu > ul > li ul li:hover {
	background-color: coral;
}

#right_cont #banner #top_menu > ul > li ul li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#right_cont #data_cont {
	margin-top: 10px;
	width: 100%;
	height: calc(100% - 110px);
	overflow: auto;
}