/* CSS Document */

/*左侧菜单*/
#left_menu {
	width: 230px;
	height: 100%;
	float: left;
	background-color: blueviolet;
}

#left_menu #left_menu_top {
	width: 100%;
	height: 100px;
	background:#4FB418;
}

/*右侧主体内容*/
#right_cont {
	height: 100%;
	float: left;
	color: #CA1E0F;
	background-color: aqua;
}

/*头部广告区域*/
#right_cont #banner {
	width: 100%;
	height: 100px;
	background-color: #C30000;
	background: linear-gradient(to bottom right, #8F1109, #CA1E0F);
}

#right_cont #banner #top_menu {
	position: absolute;
	top: 68px;
	left: 43%;
}

#right_cont #banner #top_menu li {
	width: 40px;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #FCFCCC;
	background-color: #038074;
	background: linear-gradient(to bottom, #044E43, #038074);
	float: left;
	border: 2px solid #C09E64;
	border-bottom: none;
	border-right: none;
	cursor: pointer;
}

#right_cont #banner #top_menu li:hover {
	background-color:#056254;
	background: linear-gradient(to bottom, #056254, #038B7E);
}

#right_cont #banner #top_menu li:first-child {
	border-top-left-radius: 5px;
}

#right_cont #banner #top_menu li:last-child {
	border-right: 2px solid #C09E64;
	border-top-right-radius: 5px;
}